AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=change_me_admin

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me_airflow_db
AIRFLOW_DB_NAME=airflow

AIRFLOW_JWT_SECRET=change_me_to_a_long_random_string_of_at_least_32_characters

FERNET_KEY=


WAREHOUSE_DB_HOST=localhost
WAREHOUSE_DB_PORT=5433
WAREHOUSE_DB_NAME=agri_dw
WAREHOUSE_DB_USER=agri
WAREHOUSE_DB_PASSWORD=change_me_warehouse